input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
    border-radius: 7px;
    border: 1px solid #ccc;
}

input:focus {
    outline: #007bff;
}

button {
    background-color: #007bff;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.input-container {
    padding: 15px;
}

.auth-form {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 0 auto;
    width: 40%;
}