body {
    background-color: #eeeeee;
}

table.header-menu {
    width: 100%;
    color: #2d6f84;
    font-family: Arial, Helvetica, sans-serif;
}

table.header-menu td {
    text-align: center;
    font-size: 0;
    width: 20%;
}

a.menu-url {
    color: #2d6f84;
    font-size: 25px;
    text-decoration: none;
}

.simple-text {
    color: #2d6f84;
    font-size: 25px;
}

button.logout {
    color: white;
    background-color: #af0000;
    border-radius: 7px;
    border: none;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
