textarea.title-input {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

textarea.text-input {
    width: 100%;
    margin: 10px 0;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

button.save-button {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

button.delete-button {
    background-color: #bd2540;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 50%;
}
