img.container {
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 100%;
    margin: 0 auto;
}

button.delete {
    background-color: #bd2540;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

button.save {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 100%;
}

.text_input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.center_container {
    margin: 0 auto;
    width: 40%;
}