img.container {
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 40%;
    margin: 0 auto;
}

table.info {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table.info tr {
    border: 1px solid #d2d2d2;
}

table.info td {
    padding: 15px;
}

.marker {
    padding: 10px 0 0 40px;
    color: #2d6f84;
}

.center_container {
    margin: 0 auto;
    width: 50%;
}