<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Email confirmation</title>
    <style>
        .container {
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 10px 0 0 15px;
        }

        button {
            background-color: #007bff;
            border-radius: 15px;
            color: white;
            font-size: 20px;
            padding: 15px 0 15px 0;
            margin: 10px 0 10px 0;
            border: none;
            cursor: pointer;
            width: 50%;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Welcome!</h3>
    <p>You're receiving this message because you recently signed up for a account.</p>
    <p>
        Confirm your email address by clicking the button below.
        This step adds extra security by verifying you own this email.
    </p>
    <form th:action="@{__${host}__/v1/public/users/__${userId}__/emails/confirmation}" method="post">
        <button type="submit" name="token" th:value="${token}">confirm email</button>
    </form>
    <p>
        If the button does not work, use the link:
        <a th:href="@{__${host}__/v1/public/users/__${userId}__/emails/confirmation?token=__${token}__}">
            confirm email
        </a>
    </p>
    <p>Thanks,</p>
    <p>SpringStore</p>
</div>
</body>
</html>