<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Reset password</title>
    <style>
        .container {
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 10px 0 0 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Hello!</h3>
    <p>Information about your order:</p>
    <p>Order ID: <b th:text="${order.id}"></b></p>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total price</th>
        </tr>
        <tr th:each="product: ${order.products}">
            <td th:text="${product.name}"></td>
            <td th:text="${product.finalPrice}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.totalPrice}"></td>
        </tr>
    </table>
    <p>Total price: <b th:text="${order.price}"></b></p>
    <p>
        DeliveryInfo:
        <br>Name: <b th:text="${order.deliveryInfo.fullName}"></b>
        <br>Country: <b th:text="${order.deliveryInfo.country.name}"></b>
        <br>Phone number: <b th:text="${order.deliveryInfo.phoneNumber}"></b>
        <br>Address: <b th:text="${order.deliveryInfo.address}"></b>
        <br>Comment: <b th:text="${order.deliveryInfo.comment}"></b>
    </p>
    <p>Created: <b th:text="${order.createdAt}"></b></p>
    <p>Thanks,</p>
    <p>SpringStore</p>
</div>
</body>
</html>