<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" content="text/html">
    <title>Reset password</title>
    <style>
        .container {
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 10px 0 0 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>Hello!</h3>
    <p>
        You received this email because you (or someone impersonating you) asked for a new password for your account.
        If you did not ask for a password, then ignore this letter, if such letters continue to come, contact the site
        administrator.
    </p>
    <p>
        Before using a new password, you must activate it. To do this, follow the link:
        <a th:href="@{__${host}__/v1/public/passwords?token=__${token}__}">
            activate password
        </a>
    </p>
    <p>Upon successful activation, you will be able to log in using the following password:</p>
    <p>Password: <b th:text="${generatedPassword}"></b></p>
    <p>
        You can change this password on the profile edit page. If you have any difficulties, please contact the forum
        administrator.
    </p>
    <p>Thanks,</p>
    <p>SpringStore</p>
</div>
</body>
</html>