input[type=text], input[type=password] {
    width: 100%;
    padding: 2% 3%;
    margin: 2% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #2d6f84;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman", serif;
    width: 100%;
}

.input-container {
    padding: 16px;
}

.auth-form {
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    width: 40%;
}
