table.header-menu {
    width: 100%;
    height: 50px;
    color: #2d6f84;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

table.header-menu td {
    text-align: center;
    width: 25%;
}

a.menu-url {
    color: #2d6f84;
    text-decoration: none;
}

.header-container {
    margin: 0 auto;
    width: 100%;
    height: 50px;
}