.title-input {
    width: 100%;
    padding: 15px;
    margin: 2% 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.text-input {
    width: 100%;
    height: 100px;
    margin: 2% 0;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 12px;
}

.save-button {
    background-color: #2d6f84;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.delete-button {
    background-color: #bd2540;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 40%;
}
