table.note-table {
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

table.note-table tr {
    border: 1px solid #f1f1f1;
}

table.note-table td {
    padding: 15px;
}

.container {
    margin: 0 auto;
    width: 80%;
}