button.sign-out {
    background-color: #bd2540;
    color: white;
    font-size: 20px;
    padding: 2%;
    margin: 2% auto;
    border: none;
    cursor: pointer;
    width: 25%;
}

.container {
    margin: 10% auto;
    width: 100%;
    text-align: center;
    color: #2d6f84;
}